@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Common styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

.container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
}

::selection {
    color: #fff;
    background-color: #0d0c0c;
}

/* hero style */

.hero {
    background-image: url('images/banner/banner1.png');
    padding: 215px 0 165px;
    background-size: cover;
    background-position: center;
}

.hero-content {
    text-align: right;
}

.hero-content h1 {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
}

.hero-content p {
    width: 494px;
    margin: 24px 0 32px auto;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.hero-content button {
    color: #fff;
    background-color: #F15B22;
}

.hero-content button:hover {
    background-color: #fff;
    color: #F15B22;
    border: 1px solid #F15B22;
}

/* about style */

.about-sec {
    margin: 130px auto;
}

#about {
    display: flex;
    gap: 85px;
    align-items: center;
    justify-content: space-between;
}

.about-content h2 {
    color: #151414;
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
}

.about-content p {
    color: #444343;
    font-weight: 400;
    margin: 24px 0 16px;
    font-size: 16px;
    line-height: 26px;
}

.about-content ul {
    list-style-type: none;
}

.about-content ul li {
    padding-left: 30px;
    background: url('images/check.png');
    background-repeat: no-repeat;
    margin-bottom: 10px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* plan section style */

.plans {
    margin-bottom: 130px;
}

.section-title h3 {
    color: #151414;
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    text-align: center;
}

.plan-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    text-align: center;
    margin-top: 60px;
}

.plan-content .info-box * {
    margin-bottom: 16px;
}

.plan-content .info-box img {
    max-width: 100%;
}

.plan-content .info-box h3 {
    font-size: 25px;
    font-weight: 700;
    color: #151414;
}

.plan-content .info-box p {
    color: #737272;
    font-size: 20px;
    font-weight: 500;
}

/* CTA style */

.cta {
    background-image: url('images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 130px;
}

.cta .overlay {
    padding: 60px 65px;
    background-image: url('images/gradient2.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.cta-content h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #fff;
    margin-bottom: 24px;
}

.cta-content button, .foot-right input[type="submit"] {
    color: #F15B22;
    background-color: #fff;
}

.cta-content button:hover, .foot-right input[type="submit"]:hover {
    background-color: #F15B22;
    color: #fff;
    border: 1px solid #fff;
}

/* footer style */

footer {
    background-color: #151414;
    color: #F8F8F8;
    padding: 130px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 330px;
}

.foot-left h2 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.foot-left .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
    max-width: 485px;
}

.contact-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
    cursor: pointer;
}

.social-icons {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

/* footer right style */

.foot-right h3 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}

.foot-right input[type="email"] {
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #F3F3F3;
    outline: none;
    color: #F3F3F3;
    font-size: 18px;
    margin-bottom: 16px;
}

input::placeholder{
    color: #F3F3F3;
    font-weight: 400;
    font-size: 18px;
}